@(title: String)(content: Html)

<html ng-app>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='/emailadminassets/stylesheets/main.css'>
        <link rel="stylesheet" media="screen" href='/emailadminassets/stylesheets/bootstrap.css'>
        <link rel="shortcut icon" type="image/png" href='/emailadminassets/images/favicon.png'>
        <script src='/emailadminassets/javascripts/jquery-1.9.0.min.js' type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src='/emailadminassets/javascripts/app.js' type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Email Admin</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">

                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        @content
    </body>
</html>
